@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Montserrat:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.mainPage{
    padding: 2rem 4rem;
    background-color: #222831;
    background-image: url("../images/coffee_first.png");
    background-repeat: no-repeat;
    background-size: 668px;
    background-position: left 700px top 97px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navLinks ul{
    display: flex;
    color: white;
    list-style-type: none;
    align-items: center;
}
.navLinks li{
    padding-right: 3rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}
.navLogo img{
    height: 2.5rem;
    cursor: pointer;
}
.hero{
}

.heading{
    font-family: "Grand Hotel", cursive;
}
.coffeeTime{
    width: 50%;
    padding: 3rem 0;
}
.coffeeTimeMain{
    font-size: 10rem;
    font-weight: 400;
    color: white;
}
.coffeeTimeSub{
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 0;
}
.coffeeTime p{
    color: white;
    width: 70%;
    font-weight: 200;
    padding-bottom: 1.5rem;
   
}
.btnLight{
    font-size: 1.8rem;
    font-weight: 700;
    padding: 8px 24px;
    border-radius: 15px;
    border: none;
    background: #29a19c;
    color: white;
}